<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mb-5">
<% if current_page?(root_path) %>
<h1><%= image_tag 'logo.png', title: "Service online test in Almaty", alt: "Программа для онлайн теста в Алматы", class: "navbar-brand",
 heght: "auto", width: "auto" %></h1>
 <% else %>
    <h2><%= image_tag 'logo.png', title: "Service online test in Almaty", alt: "Программа для онлайн теста в Алматы", class: "navbar-brand",
 heght: "auto", width: "auto" %></h2>
 <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      	<%= t('.panel_header') %> |
        <%= t('.greetings', email: current_user.email) %>
      </li>
    </ul>
    <ul class="navbar-nav pull-xs-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Аккаунт
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Обновить профиль', edit_user_registration_path, class: "dropdown-item" %>
        </div>
      </li>     
      <li class="nav-item">
        <%= link_to t('common.logout'), destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>        
      <li class="nav-item">
          <%= image_tag 'user.png', class: 'nav-link' %>
      </li>
    </ul>  
    <% else %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "" %>
      </li>
    </ul>    
    <ul class="navbar-nav pull-xs-right">    
      <li class="nav-item active">
        <%= link_to 'Вход', new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Регистрация', new_user_registration_path, class: "nav-link" %>
      </li>
    </ul>
    <% end %> 
  </div>
</nav>