<div class="card">
  <div class="card-body">
    <div class="form-group">
    <%= form_for @feedback do |f| %>
    <%= render 'shared/errors', resource: @feedback %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :message %>
      <%= f.text_field :message, class: "form-control" %>
    </p>
    
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>